@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: transparent;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb{
  background: #464343;
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-color-gb{
  background-color: #21618C;
  border-radius: 3px;
}
.contact-icon{
  background-color: #21618C;

}
body{
  background-color: white;
}
